<nav class="navbar position-relative navbar-expand-lg navbar-light bg-dark fixed-top py-3" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">Start Bootstrap</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto my-2 my-lg-0">
        <li class="nav-item"><%=link_to "Create course",new_course_path ,class:"nav-link js-scroll-trigger"%></li>
        <li class="nav-item"><%=link_to "All Course",courses_path ,class:"nav-link js-scroll-trigger"%></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a></li>
        <%if signed_in? %>
          <li class="nav-item"><%=link_to "logout",  destroy_user_session_path, method: :delete, class:"nav-link js-scroll-trigger"%></li>
        <%end %>
      </ul>
    </div>
  </div>
</nav>
